<!--index.vtl-->
<h2>Stylists</h2>

<h3>New Stylist</h3>
<form action="/stylists" method="post">
  <div class="form-group">
    <label for="name">Name:</label>
    <input id="name" name="name" type="text" class="form-control">
  </div>
  <button type="submit" class="btn btn-info">Add Stylist</button>
</form>
<!--index.vtl-->
