<!-- stylist-client-update -->
<h2>Client Update</h2>
<p>There are still clients attached to the stylist record of: $stylist.getName()</p>
<p>Each client's stylist must be update before $stylist.getName() can be removed.</p>

<p><a href="/stylists/$stylist.getId()">Return to $stylist.getName()</a></p>
<!-- stylist-client-update -->
